# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Matplotlib
6. Numpy
7. Pandas
8. ggplot

|Data Science Tools|
|------------------|
|Jupyter|
|R Studio|
|Python IDE|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
print(1+2)

3

In [4]:
print(3-1)

2

In [5]:
print(2*2)

4

In [6]:
print(4/2)

2.0

In [7]:
print((3*4)+5)
#This a simple arithmetic expression to mutiply then add integers

17

In [8]:
print(200/60)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
* Python
* R
* Scala
* SQL

## Author
Pratik Shrestha